# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar  # Keep the wrapper JAR
!**/src/main/**/build/             # Exclude main/src/build from ignoring
!**/src/test/**/build/             # Exclude test/src/build from ignoring

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/  # Preserve main/src/out if needed
!**/src/test/**/out/  # Preserve test/src/out if needed

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Build/Test Reports
allure-report/
allure-results/

# Local configuration (if any)
local.properties